body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 650px;
    margin: 50px auto;
    background: #f8f9fa;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    background-color: #150797;
    color: white;
    padding: 10px;
    margin: -30px -30px 30px -30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
}

form {
    display: flex;
    flex-wrap: wrap;
}

.formcontrol {
    flex: 1;
    min-width: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
 button {
    background-color: #150797;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #150797;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #150797;
    color: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.deletebtn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.deletebtn:hover {
    background-color: darkred;
}
 